<?xml version="1.0"?>
<!-- SESSION ID: 1499816230 -->
<launch>

  <!-- People tracking -->
  <include file="$(find tracking)/launch/tracker_network.launch"/>

  <group if="1">
  <!-- Skeleton tracking -->
  <include file="$(find tracking)/launch/skeleton_tracker_network.launch" />
  <!-- Pose recognition -->
  <include file="$(find pose_recognition)/launch/pose_recognition.launch" />
  </group>

  <group if="0">
  <!-- Object Tracking -->
  <include file="$(find tracking)/launch/object_tracker_network.launch" />
  </group>

  <!-- UDP messaging -->
  <include file="$(find opt_utils)/launch/ros2udp_converter.launch"/>

  <!-- Visualization -->
  <include file="$(find opt_utils)/launch/multicamera_visualization.launch"/>
</launch>
