<?xml version="1.0"?>
<launch>
  
  <!-- Start the Kinect -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>  
  
  <!-- Launch ground based people detection node -->
  <node pkg="open_ptrack_yolo_detector" type="open_ptrack_yolo_detector_node"
        name="open_ptrack_yolo_detector_node" output="screen" respawn="false">
        
    <param name="depth_image_topic"                   value="/kinect2/hd/image_depth_rect"/>
    <param name="rgb_image_topic"                  value="/kinect2/hd/image_color"/>
    <param name="output_topic"                      value="/detector/detections"/>
    <param name="camera_info_topic"                 value="/kinect2/hd/camera_info"/>
    <param name="thresh"                              value="0.25"/>  
    <param name="heir_thresh"                     value="0.5"/>  
    <param name="data_cfg"                   value="/home/remap1604/workspace/darknet/cfg/coco.data"/>
    <param name="yolo_cfg"                  value="/home/remap1604/workspace/darknet/cfg/yolo.cfg"/>
    <param name="weight_file"                      value="/home/remap1604/workspace/darknet/yolo.weights"/>
    <param name="encoding_type"                      value="32FC1"/>
    <param name="in_mm"                      value="1"/>
    
    <param name="root"                      value="/$(find open_ptrack_yolo_detector)"/>

  </node>

</launch>
